*{ margin: 0; padding: 0; font-family: 'Rubik';font-size: 22px;} 

 header{
 height: 100vh;
 width: 100%;
 background-image:  linear linear-gradient(to left,#fff 85%,#c3f5ff 20%);
 }
.navsection{
    width: 100%; height: 20vh; display: flex; justify-content: space-around;
    align-items: center;
   
 }
    .logo{
     width: 40%;
     color:white;
     background-image:linear-gradient(rgb( 63, 63, 121),rgb(63, 63, 121));
     padding-left: 100px;
     box-sizing: border-box;
 }
 .logo h1{
     background-color: auto;
     text-transform: uppercase;
     font-size: 1.6rem;
     animation: aagepiche 2s linear infinite;
     animation-direction: alternate;

 }
 @keyframes aagepiche{
     from{ padding-left: 30px;}
    to { padding-right: 30px;}

 }
 nav{
     width: 60%;
     display: flex;
     justify-content: space-around;
 }
 nav a{
     text-decoration: none;
     text-transform: uppercase;
     color: #000;
     font-weight: 900;
     font-size: 17px;
     position: relative;
 }

 nav a:first-child{
     color: #4458dc;

 }
 nav a:before{
     content: "";
     position: absolute;
     top: 110%;
     left: 0;
     width: 0;
     height: 2px;
     border-bottom: 2px solid #4458dc;
     transition: all 0.4s linear;
     
 }
    nav a:hover:before{
     width: 100%;
 }


 main{
     height: 80vh;
     display: flex;
     justify-content: left;
     align-items: center;
 }

 .leftside{
     color: #000;
     text-transform: uppercase;
     font-size: 50px;
     margin-bottom: 10px
 }

 .leftside h3{
     font-size: 40px;
     margin-bottom: 20vh;
     position: relative;
     text-align: left;
 }

 .leftside h3:after{
     content: "";
     width: 450px;
     height: 3px;
     position: absolute;
     top: 40%;
     left: 38.9%;
     background: rgb(0, 0, 0);
 }
 .leftside p{
        font-size: 25px;
        margin-bottom: 10vh;
        color: rgb(255, 255, 255);
 }
 .leftside .btn1{
     text-decoration:none;
     font-weight: 900;
     font-size: 14px;
     text-align: center;
     padding: 12px 25px;
     cursor: pointer;
     text-transform: uppercase;
     border-radius: 5px;
     display: inline-block;
     margin-right: 50px;
     color: #fff;
     letter-spacing: 0;
     background-image: linear-gradient(to right,#2a3475 100%,#854fee 100%);
     border:double 2px transparent;
     box-shadow: 0 10px 30px rgba(118,85,225,.3);

 }

 .leftside .btn2{
    text-decoration:none;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    padding: 12px 25px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    margin-right: 50px;
    color: #222;
    background-color: #fff;
    box-shadow: none;

}
 
